.container {
    flex-grow: 1;

    .cards-container {
        width: 40em;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
